<style>
	body {
		background-color:black;
		color:white
	}

	a {
		color:#DC143C
	}

	.header {
		padding: 60px;
		text-align: center;
		font-size: 30px;
	}

	.para {
		text-align: center;
		font-size:15
	}

	.succ {
		color:lime
	}

	.fail {
		color:red
	}

	input[type=text] {
		border: 2px solid black;
		border-radius: 4px;
	}
</style>
<div class=header>{{ TITLE }}</div>
<div class=para>
	{% autoescape false %}
	{{ INFO }}
	{% endautoescape %}
	<h2>Status</h2>
	{% for res in up%}
	<p class=succ>{{ res }}</p>
	{% endfor %}
	{% for res in down%}
	<p class=fail>{{ res }}</p>
	{% endfor %}
	{{ ERROR }}
</div>
